.background-image{
  width: 100%;
  height : 100%;
  position : absolute;
}

#menu {
  position: fixed;
  top : 0;
  left : 0;
  width : 12.5vw;
  height : 12.5vh;
  border-radius: 1px;
  background-color: #F9F8F8;
  box-shadow: 0px 0px 10px 6px grey;
}
.menuBtn {
  line-height: 6.25vh;
  width : 6.25vw;
  height : 6.25vh;
  overflow: hidden;
  position : absolute;
  font-size: 4vh;
  -webkit-text-stroke: 0.05px black;
}
.menuBtn:hover {
  cursor: pointer;
}
#memoMenu {
  border: 0.2px;
  border-top : 0;
  border-left : 0;
  border-style: solid;
  text-align: center;
  color: white;
  text-shadow: 0.5px 0px 0px #3399FF;
  border-color: black;
  font-family: "Walter Turncoat", cursive;
}

#memoMenu:hover{
  text-shadow: 2px 0px 0px #3399FF;
}

#lingMenu {
  left : 6.25vw;
  text-align: center;
  border: 0.2px;
  border-top : 0;
  border-left: 0;
  border-right: 0.1px;
  border-style: solid;
  color: white;
  text-shadow: 0.5px 0px 0px #33FF33;
  border-color: black;
  font-family: "Walter Turncoat", cursive;
}

#lingMenu:hover{
  text-shadow: 2px 0px 0px #33FF33;
}

#logiMenu {
  top : 6.25vh;
  text-align: center;
  border: 0.2px;
  border-top : 0;
  border-left: 0;
  border-style: solid;
  border-color: black;
  color: white;
  text-shadow: 1px 0px 0px #FF3333;
  font-family: "Walter Turncoat", cursive;
}

#logiMenu:hover{
  text-shadow: 2px 0px 0px #FF3333;
}

#noteMenu {
  left : 6.25vw;
  top : 6.25vh;
  border : 0.2px;
  border-style: solid;
  border-left: 0;
  border-top: 0;
  text-align: center;
  color: white;
  text-shadow: 1px 0px 0px #FF9933;
  border-color: black;
  font-family: "Walter Turncoat", cursive;
}

#noteMenu:hover{
  text-shadow: 2px 0px 0px #FF9933;
}
