#image{
    height : 15%;
    width : 15%;
    text-align: center;
    margin-left: 42.5vw;
    border: 1px solid black;
}
.memory-container {
  position: relative;
  top : 12.5vh;
}
.welcome-text{
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2.5rem;
}

.Text-container{
    position: relative;
    overflow: hidden;
    padding-top : 10vh;
    padding-bottom : 2vh;
}


#left-btn{
    overflow: hidden;
    float: left;
    width : 25vw;
    margin-left : 22.5vw;
    padding-bottom : 2vh;
    padding-top : 2vh;
    margin-right : 5vw;
    background-color : #01579b;
    border-radius: 2px;
    text-align: center;
    cursor :pointer;
}

#left-btn:hover{
    box-shadow: 0px 0px 2px 2px black;
}

#right-btn{
    overflow: hidden;
    width : 25vw;
    padding-top : 2vh;
    padding-bottom : 2vh;
    margin-left : 5vw;
    color : white;
    background-color: #01579b;
    border-radius : 2px;
    cursor :pointer;
}

#right-btn:hover{
    box-shadow: 0px 0px 2px 2px black;
}
