
.TopMenu-container{
    background-color: lightgrey;
    display : flex;
    width : 87.5vw;
    height : 6.25vh;
    justify-content: space-evenly;
    position: absolute;
    left : 12.5vw;
    top : 0vh;
}

.TopMenu-container > div{
    flex : 1;
    position: relative;
}

.TopMenu-centered-item{
    top : 0; right : 0; bottom : 0; left : 0;
    width : fit-content;
    height : auto;
    position: absolute;
    font-size :2vh;
    font-weight: 700;
    text-align: center;
    cursor : pointer;
    line-height: 6.25vh;
    outline : 0.2px solid black;
}

.TopMenu-centered-item:hover{
    box-shadow: 0px 2px 2px 0px black;
}
