.info-container{
    position: absolute;
    top : 27vh;
    left: 7vw;
    width: 20vw;
    height: 30vh;
    border-radius: 20px;
    border: 1px grey;
    border-style : solid;
    box-shadow: 0px 0px 2px 0.5px grey;
}

.info-text-explaination{
    text-align: center;
    width : 20vw;
    height: fit-content;
    padding: 5px;
    font-size: 0.8vw;
}

.info-header{
    position: relative;
    font-size: 1.25vw;
    width: 100%;
    height: fit-content;
    text-decoration: underline;
    margin-bottom: 2vh;
    text-align: center;
}

.info-text{
    width : fit-content;
    height: fit-content;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 0.8vw;
}

.dropdown-container{
    position : absolute;
    left : 44vw;
    top : 20vh;
    font-size: 1.5vw;
}
.score-holder {
    position: absolute;
    width : 15vw;
    height : 16vh;
    left : 73vw;
    top : 27vh;
    border-radius: 20px;
    border: 1px grey;
    border-style : solid;
    box-shadow: 0px 0px 2px 0.5px grey;
    font-size: 1vw;
}
.game-container{
    background-color: ivory;
    border : 0.15vh black;
    border-style : solid;
    display: grid;
    grid-template-columns: auto auto auto;
    padding : 10px;
    grid-gap : 0.5vw;
    width : 100%;
    height : 100%;
}

.grid-item{
    background-color: white;
    border :0.1vh solid black;
    padding : 2px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 1vh;
}

.wrapper{
    position : relative;
    top : 27vh;
    left : 36.5vw;
    width : 27vw;
    height : 48vh;
}

.overlay{
    background-color: lightgrey;
    position: absolute;
    width : 100%;
    height : 100%;
    opacity: 40%;
    cursor: pointer;
}

.start-btn-text{
    text-align: center;
    line-height: 48vh;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 100%;
    font-weight: 600;
    font-size: 3vh;
}
.score-title {
  position: relative;
  width: 15vw;
  height : 5vh;
  text-decoration: underline;
  text-align: center;
  font-size: 1.25vw;
  padding-bottom: 5.5vh;
}
.score-correct {
  position: relative;
  width: 15vw;
  height : 5vh;
  padding-left: 0.75vw;
}
.score-incorrect {
  position: relative;
  width: 15vw;
  height : 5vh;
  padding-left: 0.75vw;
}

#dropdown-class{
    width : 12vw;
    height: 4vh;
    font-size: 1vw;
    font-weight: 600;
}

.dropdown-menu{
    width : 12vw;
}

.dual-button-class{
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
    position : absolute;
    width : 27vw;
    height : 4vh;
    border : 0.15vh black;
    border-style : solid;
    line-height: 3.5vh;
    cursor : pointer;
    left : 36.5vw;
    top : 78vh;
    background-color: rgb(192, 255, 192);
}

.dual-button-class:active{
    box-shadow: 0px 0px 2px 1px black;
}

