#dropdown-container{
    position : absolute;
    left : 47.1%;
    top : 20%;
    font-size: 2rem;
}

#game-container{
    position : absolute;
    top : 27%;
    left : 36.5%;
    width : 27vw;
    height : 48vh;
    background-color: ivory;
    border : 2px black;
    border-style : solid;
}

.dual-button-class{
    font-size: 2rem;
    font-weight: 650;
    text-align: center;
    position : absolute;
    width : 12vw;
    height : 4vh;
    background-color: ivory;
    border : 2px black;
    border-style : solid;
    line-height: 4vh;
}

#audio-container{
    left : 36.5%;
    top : 78%;
}

#position-container{
    left : 51.5%;
    top : 78%;
}