.statistics-container{
    position : absolute;
    width : 60vw;
    height : 70vh;
    top : 12vh;
    left : 20vw;
}

.statistics-header{
    font-size: 3vh;
    position: absolute;
    width : 100%;
    text-align: center;
}

.statistics-game-container{
    width : 40%;
    height : 40%;
    position: absolute;
    border : 1px black;
    border-style : solid;
    border-radius: 1vh;
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}

#game1{
    left : 5%;
    top : 15%;
}

#game2{
    top : 15%;
    left: 55%;
}

#game3{
    top : 60%;
    left : 5%;
}

#game4{
    top : 60%;
    left: 55%;
}

.statistics-game-text{
    font-size: 3vh;
    width : 100%;
    text-align: center;
}

.statistics-game-incorrect{
    position: absolute;
    font-size: 2vh;
    width : fit-content;
    height : fit-content;
    left: 15%;
    top : 60%;
    text-align : center;
}

.statistics-game-correct{
    position: absolute;
    font-size: 2vh;
    width : fit-content;
    height : fit-content;
    left: 15%;
    top : 30%;
    text-align : center;
}

.go-to-nback-button{
    position: absolute;
    top: 75vh;
    width : 20%;
    height : 7%;
    left: 40%;
}




