.memory-header{
    text-align: center;
    font-size: 2vw;
}

#Header-container{
    position: relative;
    top : 12.5vh;
}
#topBtn {
  width : 2.5vw;
  height : 2.5vh;
  border: 1px;
  border-style: solid;
  background-color: lightgrey;
  position: absolute;
  top : 6.25vh;
  left: 54.75vw;
  cursor: pointer;
}
.downArrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-width: 0 3px 3px 0;
  top : 0.25vh;
}
.upArrow {
  transform: rotate(0deg);
  -webkit-transform: rotate(-135deg);
  top : 0.75vh;
}
i {
  position: absolute;
  padding: 0.5vh;
  color: black;
  border: solid black;
  border-width: 0 0.08rem 0.08rem 0;
  display: inline-block;
  margin-left: 0.875vw;
}
