.main-container {
  position: absolute;
  left : 25vw;
  top : 10vh;
  width : 50vw;
  height : 75vh;
  border : 1px solid grey;
  box-shadow: 0px 0px 1px 1px grey;
  border-radius: 30px;
}
.leftside {
  height : 100vh;
  width : 50vw;
  float:left;
  background-color: #FCF6F5FF;
}
.rightside {
  height : 100vh;
  width : 50vw;
  float:left;
  background-color: #001133;
}
.header {
  float : left;
  text-align: center;
  font-weight: lighter;
  color : #001133;
}

.signin-header {
  font-weight: 100;
  font-size: 1.5rem;
  width: 7vw;
  height : 5vh;
  line-height: 5vh;
  border-top-left-radius : 15px;
  border-bottom-left-radius: 15px;
}
.signin-header:hover {
  cursor: pointer;
}
.register-header {
  cursor: pointer;
}
.register-header {
  font-weight: 100;
  width: 7vw;
  height : 5vh;
  line-height: 5vh;
  font-size: 1.5rem;
  background-color: lightgrey;
  border-top-right-radius : 15px;
  border-bottom-right-radius: 15px;
}
.divider {
  background-color: grey;
  height : 5vh;
  width : 0.1vw;
}
.content {
  position: relative;
  top : 7vh;
  margin-left : 17.5vw;
}
.welcomeText {
  font-size: 60px;
  color : #001133;
  text-align: center;
  margin-top : 40vh;
  font-family : Georgia, Serif;
}
.signin-content {
  position: absolute;
  top : 20vh;
}
.register-content {
  position: absolute;
  top : 20vh;
}
.sign-in-text{
  position: absolute;
  color : white;
  font-size: 2.5rem;
  width : 15vw;
  text-align: center;
  top : -12vh;

}
.register-text{
  position: absolute;
  color : white;
  font-size: 2.5rem;
  width : 15vw;
  text-align: center;
  top : -12vh;

}
.headers {
  background-color: #FCF6F5FF;
  border-radius: 15px;
  position: absolute;
  top : 3vh;
  height : 5vh;
  width : 14.1vw;
  left : 84vw;
}
