h1 {
  text-align: center;
  font-size: 25px;
}
#Introtext {
  text-align: center;
}
#Container {
  overflow : hidden;
}
#Login-container {
  width : 15.5vw;
  margin-top : 15vh;
  margin-left : 32vw;
  float : left;
  padding-right: 5vw;
}
#Create-acc-container {
  width : 15.5vw;
  margin-top : 15vh;
  overflow : hidden;
}
#Login-btn {
  margin-top: -1.5vh;
  margin-left: 36vw;
  width : 5vw;
}
#Create-acc-btn {
  margin-top: 0.5vh;
  margin-left: 54vw;
  width : 11vw;
}
