.button-class{
    position : absolute;
    overflow: hidden;
    font-family: "Walter Turncoat", cursive;
    font-size: 8vh;
    color : white;
    opacity: 0.8;
}

.button-class:hover{
    cursor : pointer;
}

#header-text{   
    width : 100%;
    top: 2.5%;
    text-align : center;
    position : absolute;
    overflow: hidden;
    font-family: "Walter Turncoat", cursive;
    font-size: 10vh;
    color : white;
    opacity: 0.8;
}

#underline{
    width : 100%;
    top: 5.5%;
    text-align : center;
    position : absolute;
    overflow: hidden;
    font-family: "Walter Turncoat", cursive;
    font-size: 10vh;
    color : white;
    opacity: 0.8;
}

#memory{
    top : 30%;
    left : 25%;
    text-shadow: 1px 1px lightblue;
}

#memory:hover{
    text-shadow: 3px 2px lightblue;
}

#linguistics{
    top : 30%;
    left : 60%;
    text-shadow: 1px 1px lightgreen;
}

#linguistics:hover{
    text-shadow: 3px 2px lightgreen;
}

#logic{
    left : 25%;
    top : 60%;
    text-shadow: 2px 1px red;
}

#logic:hover{
    text-shadow: 3px 2px red;
}

#notes{
    top : 60%;
    left : 60%;
    text-shadow: 1px 1px yellow;
}

#notes:hover{
    text-shadow: 3px 2px yellow;
}

#Background-container{
    width : 100%;
    height : 100vh;
    position : relative;
    overflow: hidden;   
}